name: Docker Build and Push

on:
  push:
    branches:
      - dev

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    env:
      REPO_RAW: ${{ github.repository }}
      BRANCH_NAME: ${{github.ref_name}}
      EVENT_NAME: ${{github.event_name}}
      ACTOR: ${{github.actor}}
      JOBNAME: ${{github.job}}
      RUN_NUMBER: ${{github.run_number}}
      REGISTRY: ghcr.io

    permissions:
      contents: read
      packages: write

    steps:
      - name: Print Environment Variables
        run: |
          REPO=${REPO_RAW,,}>>$GITHUB_ENV
          echo "Repository: $REPO"
          echo "Branch name: $BRANCH_NAME"
          echo "Event name: $EVENT_NAME"
          echo "Actor: $ACTOR"
          echo "Job name: $JOBNAME"
          echo "Run number: $RUN_NUMBER"
          echo "Registry: $REGISTRY"

      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{env.REGISTRY}}
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{env.REGISTRY}}/${{env.REPO}}:dev